[user]
	email = vany.egorov@gmail.com
	name = Ivan Egorov

[core]
	editor = vim
	pager = delta

[color]
	ui = true

[interactive]
	diffFilter = delta --color-only

[delta]
	features = decorations
	whitespace-error-style = 22 reverse

[delta "decorations"]
	file-style = bold yellow

[alias]
	lg = lg1
	lg1 = lg1-specific
	lg2 = lg2-specific
	lg3 = lg3-specific

	lg-all = lg1-all
	lg1-all = lg1-specific --all
	lg2-all = lg2-specific --all
	lg3-all = lg3-specific --all

	lg1-specific = !git log --graph --pretty=format:'%C(131)%h%Creset %C(113)(%ci)%Creset -%C(220)%d%Creset %s %C(39)<%an>%Creset' --abbrev-commit --date=relative
	lg2-specific = !git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = !git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	lgfzf = !git-lg-fzf
	rank = shortlog -sn --no-merges
	cmt = !git add . && git add -u && git commit -m
	details = log -n1 -p --format=fuller
	d = difftool
	tags = !git for-each-ref --sort=-committerdate --format='%(color:131)%(refname:short)%(color:reset) %(color:113)(%(taggerdate))%(color:reset) - %(subject) %(body)' refs/tags

